<!DOCTYPE html>
<html>
<head>
	<title></title>
		
</head>
<center>
<body>
<h2>UPDATE EMPLOYEE INFORMATION</h2>
<form method="POST">
	{%csrf_token%}
	Employee Number: <input type="text" name="eno" value="{{employee.eno}}"><br><br>
	Employee Name: <input type="text" name="ename" value="{{employee.ename}}"><br><br>
	Employee Salary: <input type="text" name="esal" value="{{employee.esal}}"><br><br>
	Employee Address: <input type="text" name="eaddr" value="{{employee.eaddr}}"><br><br>

	<button>SUBMIT</button>
</form>
</body>
</center>
</html>
